extends layout

block content	  
	div#header some text!
		//- h1 header time
	
	div#container
		
		div#project_container.column
			h1 There is a project in here			

		div#project_list.column
			a#new_project(onclick="projectDialog();") New			
			a#find_project Search
			div#empty			
		
		div#properties.column
			h5 this is the outline

		div#openProject
			lbl Project Name
			input#createProjectName(type = "text")					
			button(onclick="this.parentNode.style.display='none'; createProject()") OK
	
	div#footer this is the footer
