extends layout

block content    
    div#pokerapp
        header
            h1 POKER!
            a#new-table new table
        section#main            
            ul#players
    div#credits Created by TOMITRON
        
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")    
    script(src='/socket.io/socket.io.js');    
    script(src='javascripts/backbone.js')

    //Templates
    script#player-template(type="text/template").
        <div class="view">            
            <label><%- name %>  <%- stack %> <%- cards.card1.rank %><%- cards.card1.suit %><%- cards.card2.rank %><%- cards.card2.suit %></label>
            <a class="destroy"></a>
        </div>      

    script#board-template(type="text/template").
        <div class="view">            
            <img>
            <a class="destroy"></a>
        </div>        
        
  
    
    script(type='text/javascript',src='/javascripts/main.js');    


