extends layout

block content    
    div#pokerapp
        header
            h1 POKER!
            a#new-table new table 
            br
            a#next next
        section#main            
            ul#tables Tables
            
    div#credits Created by TOMITRON
        
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")    
    script(src='/socket.io/socket.io.js');    
    script(src='javascripts/backbone.js');    
    //- script(type='text/javascript')   
            
    script(src='javascripts/table.js',type='text/javascript') 

